html {
    font-size: 100%;
    min-height: 100vh;
}

body {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: rgb(41, 50, 53);
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: rgb(1, 1, 1);
}

a :hover {
    color: rgb(20, 79, 76);
}


figure {
    text-align: center;
}

.nav-item {
    text-decoration: none;
    display: inline;
    font-size: 20px;
    margin-right: 30px;
}

.nav-item-active {
    text-decoration: none;
    display: inline;
    font-size: 20px;
    margin-right: 30px;

}

#navNames {
    color: rgb(253, 252, 252);
}

header {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(7, 84, 84, 0.9) 0%, rgba(55, 197, 171, 0.7) 65%, rgba(45, 181, 123, 0.7) 100%);
    padding: 10px;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    height: fit-content;
}

#navIcons {
    float: right;
}



footer {
    display: flex;
    margin-bottom: 0px;
    margin-right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(112, 188, 190) 0%, rgba(105, 207, 207, 0.7) 36%, rgba(55, 197, 171, 0.7) 59%, rgba(45, 181, 123, 0.7) 100%);
}

h1 {
    margin-bottom: 15px;
    font-weight: bold;
}

#menuBar {
    float: left;
    text-align: left;
}


ul {
    list-style: none;
}

.list-item {
    list-style: none;
}


#content {
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(37, 58, 57);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 63, 61);
}

#searchbar {
    float: right;
    margin-right: 70px;
    padding: 7px;
    border-radius: 4%;
    border: rgb(180, 179, 179) 1px solid;
}

.item {
    border: 1px solid #dfdfdf;
    flex-direction: column;
    margin-bottom: 20px;
    width: 250px;
    height: fit-content;
    text-align: center;
    padding: 15px 15px;
    margin-top: 50px;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

.item:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.productType {
    color: #a9a8a8;
    font-size: smaller;
}

.itemImg {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 5px;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h5 {
    margin-top: 2%;
}


.item-content {
    margin-bottom: 10px;
}

.productTitle {
    margin-bottom: 10px;
    margin-top: 10px;
}

.productDescription {
    padding: 5px;
}


.cartButton {
    background-color: rgb(216, 219, 219);
    padding: 7px;
    border-radius: 5%;
    color: #434343;
}

#custom-btn-margin {
    margin-right: 10px;
}


#menuBar h3 {
    padding-bottom: 5px;
    border-bottom: solid 1px rgb(35, 120, 93);
}


#socialMedia {
    margin-top: 20px;
    margin-left: 30px;
}

#moreInfo {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 50px;
}

#moreInfo ul {
    list-style: none;
    padding-left: 3px;
}

#moreInfo ul li {
    margin-bottom: 5px;
}

#profilePic {
    border-radius: 50%;
}


.row-no-padding {
    margin: 0;
    padding: 0;
}

.col-sm-6 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
}

.radio {
    margin: 5px;
    display: inline;
}

#contactHeader {
    text-align: center;
}

 
 
 /* Add margin and padding to the header */
#navigationBar {
    margin-bottom: 20px;
}

#websiteLogo {
    margin-right: 20px;
}

#shoppingCartButton,
#profileButton {
    margin-left: 10px;
}

/* Add margin and padding to the product details */
.productWindow {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.productWindow img {
    width: 300px;
}

.productWindow h3 {
    font-size: 22px;
}

#imageContainer {
    padding: 20px;
}

#detailsContainer {
    padding: 20px;
}

.purchaseButton {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: fit-content;
}

.purchaseButton:hover {
    background-color: #0056b3;
}

/*AboutUs page*/

.about-us-section {
    display: flex;
    position: relative;
    width: 100%;

    overflow: hidden;
    background-size: cover;
}

.slogan-aboutus {
    position: absolute;
    text-align: center;
    color: #015967;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.slogan-aboutus h2 {
    font-size: 40px;
}

.slogan-aboutus h3 {
    padding-top: 20px; 
    font-size: 20px;
}

.slogan-aboutus h4 {
    font-size: 20px;
}

.slogan-aboutus a {
margin-left: 300px;
}

.wide-photo-container {
    width: 100%;
    overflow: hidden;
}

.wide-photo {
    width: 100%;
    display: block;
    height: auto;
}

.log-in {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #008CBA;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.log-in {
    background-color: #0077A3;
}
   


@media (max-width: 768px) {
    .slogan-aboutus h2 {
        font-size: 20px;
        
    }

    .slogan-aboutus h3,
    .slogan-aboutus h4 {
        font-size: 10px;
    }
    .log-in {
        margin-right: 50%;
        
    }
    .sign-in-button{
    margin-right: 50%;
    
    }
}

.history-section {
        display: flex;
        width: 100%;
        padding: 40px; 
        box-sizing: border-box;
    }
    
    .history-text {
        flex: 1;
        padding-right: 20px; 
    }
    
    .history-photo {
        flex: 1;
        overflow: hidden;
    }

    .contact-sercion {
        background-color: #f2f2f2;
        padding: 20px;
    }



    #contactHeader {
        background-color: #f2f2f2; 
        padding: 20px;
    }

/*contact in about us section*/

.teamMembers {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.membertxt {
    display: inline-block;
    text-align: center;
    max-width: 180px;
}

.memberH {
    font-weight: bold;
}


/*Next section*/

.confirmation {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    border: solid 1px rgb(28, 35, 35);
    max-width: 300px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 50px;
    align-items: center;
}

.plan-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
    min-width: fit-content;
    min-height: fit-content;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 25px;
    border: 1px solid #9d9d9d;
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}



.placeOrderForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    padding: 5px;
    border: solid 1px rgb(28, 35, 35);
    max-width: 300px;
    margin: auto;
}

.purchaseMethod {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

/*Contact us styling*/
.teamMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.membertxt {
    display: inline-block;
    text-align: center;
    max-width: 180px;
}

#teamProfilePic {
    border-radius: 50%;
    border: 2px solid rgb(168, 218, 218);
    margin-bottom: 10px;
}

/*Proceed button styling*/

.proceedButton {
    border-radius: 4px;
    background-color: rgb(115, 173, 154);
    border: solid 1px rgb(28, 35, 35);
    padding: 7px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
}

.proceedButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    margin: 15px;
}

.proceedButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.proceedButton:hover span {
    padding-right: 25px;
    margin: 15px;
}

.proceedButton:hover span:after {
    opacity: 1;
    right: 0;
}



/*Place order styling*/

#addressLine1 {
    margin-bottom: 5px;
}

#addressLine2 {
    margin-bottom: 5px;
}

#city {
    margin-bottom: 5px;
}

#addressLine1 {
    margin-bottom: 5px;
}

#addressLine2 {
    margin-bottom: 5px;
}

#postalCode {
    margin-bottom: 5px;
}

#email {
    margin-bottom: 5px;
}

#phoneNo {
    margin-bottom: 10px;
}

#card {
    margin-bottom: 12px;
}

#cardNo {
    margin-bottom: 10px;
}

/*Homepage video*/
.background-section {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/* text on video*/

.slogan {
    position: absolute;
    text-align: center;
    justify-content: center;
    color: #c8f99a;
    /* Adjust the text color as needed */
}

#slogan2 
{
    text-align: center;
}



.history-section li {
    margin-left: 0px;
    margin-bottom: 10px;
    color:#1a5862;
    list-style: disc;
}


/*button "sign in" on homepage*/


.sign-in-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(76, 175, 137);
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 5%;
    min-width: 50px;
    height: auto;
}

.sign-in-button:hover {
    background-color: #587d5a;
}

/*button "learn more" on homepage*/
.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #008CBA;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 150px;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #0077A3;
}

.learn-more-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    color: #5b0d0d;

}

.learn-more-section h2 {
    font-size: 20px;

}

.learn-more-section h3 {
    font-size: 40px;
    border-bottom: 1px solid #5b0d0d;
}

.lm-photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.howitworks {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 30px;
}

.howitworks2 {
    display: flex;
    flex-wrap: wrap;

    padding-left: 50px;

}

.adv-photo {
    padding-left: 450px;
}


.confirmation {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teamMembers {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.placeOrderForm {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.purchaseMethod {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.button {
    border: solid 1px rgb(28, 35, 35);
    padding: 5px;
}

#addressLine1 {
    margin-bottom: 5px;
}

#addressLine2 {
    margin-bottom: 5px;
}

#city {
    margin-bottom: 5px;
}

#addressLine1 {
    margin-bottom: 5px;
}

#addressLine2 {
    margin-bottom: 5px;
}

#postalCode {
    margin-bottom: 5px;
}

#email {
    margin-bottom: 5px;
}

#phoneNo {
    margin-bottom: 7px;
}


/* Cart  */

#cartContent {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;
}

#checkoutInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#cartItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
}

.card {
    min-width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-body h5 {
    text-align: center;
}


.item-wrapper {
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.item-wrapper img {
    width: 150px;
    height: 100px;
}

.card-text {
    padding: 10px;
}

.item-title {
    font-size: 18px;
    margin-right: 15px;
}


.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0px 16px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}

.seeInCartButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.seeInCartButton:hover {
    background-color: #45a049;
}


.product-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#productImage {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 3px groove rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.productDetails {
    border: 2px groove rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}


.product-image-container {
    margin-bottom: 20px;
}

#loginContent {
    margin-top: 50px;
    margin-bottom: 150px;
}

#profileDropdownMenu {
    right: 0 !important;
    width: fit-content;
}

/*Profile styling*/

.profile-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.personal-company-info,
.address-info,
.password-section,
.profile-picture {
    flex: 1;
    min-width: 300px; 
}



.password-section form {
    display: flex;
    gap: 10px; 
}

#profilePicContainer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px; 
}

#profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px; }

#profilePicInput {
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

.save-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.edit-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.edit-button:hover{
    background-color: #0056b3;
}


.save-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #008CBA;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 150px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #218838;
}

.profile-content {
    padding: 20px;
}

.profile-content label {
    font-weight: bold;
}


.edit-button,
.save-button {
    padding: 8px 16px;
    font-size: 14px;
    display: inline-block; 
    margin-right: 10px; 
}


@media (max-width: 768px) {
    .edit-button,
    .save-button {
        padding: 6px 12px;
        font-size: 12px;
        margin-right: 0; 
        margin-bottom: 10px; 
    }
}

#createPostButton {
    margin-left: 20px;
}


#registerModal {
margin: 40px;
margin-right: 200px;
}


